body{
    font-family: 'Open Sans', sans-serif; 
    max-width: 80%;
    margin: 1em 8em;
    line-height: 1.5;
    height: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    vertical-align: middle;
    flex: 0 0 auto;
    background-color: black;
    color: #fff; 
    position:fixed;
    top:0;   
    left:0;
    right:0;
    z-index: 10;
}
nav{   
    padding: 0 2rem;
}
nav ul li,a{
    text-decoration: none;
    display: inline-block;
    color: white;
    text-shadow: 2px 2px 4px #000000;
    font-size: 1.2rem;
    padding:0.2em;
}
li a:hover {  
    color: #cb6eb5;
}
#themes ul li{
    text-decoration: none;
    display: inline-block;
    color: white;
    text-shadow: 2px 2px 4px #000000;
    font-size: 1.2rem;
    padding:0.2em;
}
@font-face{
    font-family: 'custom';
    src: url(Ribbons-and-banners.ttf)
}
.slogan{
    font-family:  'custom';
    color: #cb6eb5;
}
.content{
    flex:1;
} 
section { 
    flex: 1;
    padding: 2.5rem;  
    margin-top:8rem;
    /* position: relative;*/
}
#mission P{
    line-height: 2rem;
    margin-left: 4rem;  
    background-color:  #47454a;
    opacity: 0.6;
    color: white;
    text-shadow: 2px 2px 4px #000000;
    font-size: 1.2rem;
    padding:1em;
}
#mission{
    background-image: url("images2.jpg");
}
.containerThemes{
    display: flex;
    border:1px solid  #481862;    
}
.containerContact{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.containerThemes p{
    line-height: 3rem;
    padding: 2rem;
}
section h2{
    color:#cb6eb5;
    text-shadow: 1px 1px 2px black, 0 0 25px green, 0 0 5px  #316507;
    font-size: 2em;
}
h3{
    text-align: center;
    text-shadow: 2px 2px 4px #cb6eb5;
    font-size: 1.6em;
}
#themes ul li:hover {  
    color:#cb6eb5; 
    cursor: pointer;
}   
#themes ul{
    width: 40%;
    background-color: #481862;
} 
.containerPricing{
    display: flex;
   
}
.pricingChild{
    border:1px solid  #481862; 
    margin:2em;
    flex:1;
    background-color:hsl(314, 63%, 95%);
    overflow: hidden;
   }
.pricingChild h3{
    background-color: #481862;
    color: white;
    text-shadow: 2px 2px 4px #000000;
    font-size: 1.2rem;
}
.pricingChild strong{
    font-size: 1.6rem;
    padding: 3.5em;
}
.pricingChild button{
    background-color: #cb6eb5;
    color: white;
    margin: 0.5em;
}
table{
    border-collapse: collapse;
    border-spacing: 1rem;
    border: 1px solid gray;
    margin-top: 1.5em;
    margin-left: 1.5em;
    margin-right: 1.5em;
    margin-bottom: 0;
}  
th{
    text-align: left;
    background-color: #481862;
    color: white;
    text-shadow: 2px 2px 4px #000000;
    font-size: 1.2rem;
}  
th, td{
    border: 1px solid white;
    padding: 1rem;   
}
  
tr:nth-child(even){
    background-color:hsl(314, 63%, 95%);
}
#contact{  
    background-color:#5c5c5c;
    text-shadow: 2px 2px 4px #000000;
    color: white;
}  
#contact input[type='email'], input[type='text']{   
    width: 20em;  
    height: 2em;
} 
#contact textarea{
    width: 20em;     
    height: 15em;  
} 
iframe{
    width:30em;
    height:25em;
} 
footer{
   flex:1;
   margin-top: 4em;
   justify-content: space-between;
   align-items: center;
   vertical-align: middle;
   display: flex;
}
.copy{
    color: grey;
}
.displayNone{
   display: none;
}
.displayBlock{
   display: block;
}




