body{
    font-family: 'Open Sans', sans-serif; 
    margin: 1em 8em;
    line-height: 1.5;
    height: 100%;
    min-height: 100%;   
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    vertical-align: middle;
    flex: 0 0 auto;
    background-color: black;
    color: #fff; 
    position:fixed;
    top:0;   
    left:0;
    right:0;
    z-index: 10;
}
.resposive_menu{
    background-color: black;
    position:fixed;
    left:0;
    right:0;
    width: 60em;
    display:block;
}
.menu{
    display: none;
}
.icon{
    display: none;
}
.kryss{
    display: none;
}
nav{   
    padding: 0 2rem;
}
nav ul li,a{
    text-decoration: none;
    display: inline-block;
    color: white;
    text-shadow: 2px 2px 4px #000000;
    font-size: 1.2rem;
    padding:0.2em;
}
li a:hover {  
    color: #cb6eb5;
}
#themes ul li{
    text-decoration: none;
    display: inline-block;
    color: white;
    text-shadow: 2px 2px 4px #000000;
    font-size: 1.2rem;
    padding:0.2em;
}
@font-face{
    font-family: 'custom';
    src: url(Ribbons-and-banners.ttf)
}
.slogan{
    font-family:  'custom';
    color: #cb6eb5;
} 
section {    
    padding: 2.5rem;  
    margin-top:8rem;
}
section h2{
    color:#cb6eb5;
    text-shadow: 1px 1px 2px black, 0 0 25px green, 0 0 5px  #316507;
    font-size: 2em;
}
h3{
    text-align: center;
    text-shadow: 2px 2px 4px #cb6eb5;
    font-size: 1.6em;
}
#mission P{
    line-height: 2rem;
    margin-left: 4rem;  
    background-color:  #47454a;
    opacity: 0.6;
    color: white;
    text-shadow: 2px 2px 4px #000000;
    font-size: 1.2rem;
    padding:1em;
}
#mission{
    background-image: url("images2.jpg");
}
.containerPricing{
    display: flex;
    flex-wrap: wrap;
}
.pricingChild{
    border:1px solid  #481862;
    margin:2em;
    flex:1;
    height: 12em;
    min-width: 12em;
    background-color:hsl(314, 63%, 95%);
}
 .pricingChild h3{
    background-color: #481862;
    color: white;
    text-shadow: 2px 2px 4px #000000;
    font-size: 1.2rem;
}
.pricingChild strong{
    font-size: 1.6rem;
    padding: 3.5em;
}
.pricingChild button{
    background-color: #cb6eb5;
    color: white;
    margin: 0.5em;
}
table{
    border-collapse: collapse;
    border-spacing: 1rem;
    border: 1px solid gray;
    margin-top: 1.5em;
    margin-left: 1.5em;
    margin-right: 1.5em;
    margin-bottom: 0;
}  
th{
    text-align: left;
    background-color: #481862;
    color: white;
    text-shadow: 2px 2px 4px #000000;
    font-size: 1.2rem;
}  
th, td{
    border: 1px solid white;
    padding: 1rem;   
}
  
tr:nth-child(even){
    background-color:hsl(314, 63%, 95%);
}
#themes ul li:hover {  
    color:#cb6eb5; 
    cursor: pointer;
}   
#themes ul{
    width:25em;
    background-color: #481862;
} 
.containerThemes{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    border:1px solid  #481862;  
    min-width: 16em;
    justify-content: space-between;
}
.containerThemes img{
   
    width:16em ;
    max-height: 16em;
    
}
.containerThemes p{
    max-width:30em ;
    line-height: 2rem;
    padding: 2rem;
}
.containerContact{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#contact{  
    background-color:#5c5c5c;
    text-shadow: 2px 2px 4px #000000;
    color: white;
}  
#contact input[type='email'], input[type='text']{   
    width: 20em;  
    height: 2em;
} 
#contact textarea{
    width: 20em;     
    height: 15em;  
} 
iframe{
    width:30em;
    height:25em;
} 
footer{
   margin-top: 4em;
   justify-content: space-between;
   align-items: center;
   display: flex;
}
.copy{
    color: grey;
}
.displayNone{
   display: none;
}
.displayBlock{
   display: block;
}

@media screen and (max-width:960px){
    #mission P{
        line-height: 2rem;
        margin: 0;  
        background-color:initial;
        color:initial;
        text-shadow:initial;
        font-size: 1.2rem;
        padding:0;
        width:22em ;
    }
    #mission {
        background-image: initial;
    }
}

@media screen and (max-width:1137px) and (min-width:800px){
    .containerThemes{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
    }
    .containerThemes p{
        max-width:30em;
        max-height: 16em;
        line-height: 1.5rem;
        padding: 0;
    }    
}

 @media screen and (max-width:799px) and (min-width:337px){
    .containerThemes img{        
        width: 100%;        
        max-height: 16em;         
    }
     .containerThemes{          
        min-width: 20em;         
    }
}
@media screen and (max-width:1093px) and (min-width:990px){
    .containerContact iframe{           
         max-width: 25em;
         max-height: 20em;         
     }
     #contact input[type='email'], input[type='text']{   
        max-width: 18em;        
    } 
    #contact textarea{
        max-width: 18em;        
    } 
}
@media screen and (max-width:989px) and (min-width:693px){
    .containerContact{
        display: flex;
        flex-wrap: wrap;
        width: 27em;
        justify-content: flex-start;
    }
    .containerContact iframe{        
         width: 90%;
         max-height: 20em;         
     }
     #contact input[type='email'], input[type='text']{   
        max-width: 18em;         
    } 
    #contact textarea{
        max-width: 18em;  
    } 
}
@media screen and (max-width:692px){
    .containerContact{
        display: flex;
        flex-wrap: wrap;
        width: 27em;
       /* justify-content: flex-start;
        align-content: flex-start;*/
    }
    #contact{
        background-color: initial;
        text-shadow: initial;
        color: initial;
    }
    body{
        margin:1em 2em;
    }
}
@media screen and (max-width:327px){
    footer{
        margin-left: 3em;
    }
}
@media screen and (max-width:374px){
    footer{
        flex-wrap: wrap;
        justify-content: space-around;
        margin: 2em 4em;
    }
    footer .copy {
        display: none;
    }
}
@media screen and (max-width:961px){
    .icon{
        display:block;
    }
    nav{
        display:none;
    }
}
@media screen and (max-width:569px){
   
    .slogan{
        font-size: 1.3em;
    }
    .icon{
        display:block;
    }
    nav{
        display:none;
    }
}
@media screen and (min-width:962px){
   #icon {
        display:none;
    }
   #kryss {
        display:none;
    }
}
